#hero-section {
    height: 554px;
    display: flex;

    .hero-left {
        width: 50%;
        padding-left: 75px;

        p {
            font-size: 41px;
            line-height: 60px;
            margin-top: 174px;
            margin-bottom: 30px;
        }

        button {
            width: 192px;
            height: 50px;
            border-radius: 6px;
            background-color: #F17E5B;
            color: #FFFFFF;
            text-align: center;
            font-size: 18px;
        }
    }

    .hero-animation {
        width: 50%;
        display: flex;
        align-items: center;
    }
}