#registration-section {
    position: relative;
    height: 866px;

    h2 {
        margin-bottom: 55px;
        font-size: 34px;
        font-weight: 500;
        text-align: center;
    }

    p {
        width: 80%;
        font-size: 24px;
        line-height: 50px;
        text-align: center;
        margin: 0 auto 53px;
    }

    form {
        width: 564px;
        height: 501px;
        padding: 53px;
        border: 2px solid #F17E5B;
        border-radius: 6px;
        margin: 0 auto 65px;
        position: relative;

        legend {
            margin-bottom: 34px;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
        
        label {
            font-size: 14px;
        }
        
        input {
            width: 216px;
            height: 42px;
            border: 2px solid #F17E5B;
            padding-left: 10px;
            border-radius: 6px;
            margin-bottom: 19px;
            margin-top: 7px;
            display: block;
        }

        .register-error-message, .register-success {
            width: fit-content;
            height: 37px;
            padding: 11px;
            border-radius: 6px;
            position: absolute;
            bottom: 99px;
        }
        
        .register-error-message {
            background-color: #FBC2B1;
            }

        .register-success {
            background-color: #B1FBBD;
        }
        


        button {
            width: 183px;
            height: 46px;
            border-radius: 6px;
            display: block;
            background-color: #F17E5B;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .sitting-jack-russel {
        width: 282px;
        height: 273px;

        position: absolute;
        right: 78px;
        bottom: 7px;
        background-image: url('../../assets/jack-russel.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}